<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Cadastro</title>
    <link rel="stylesheet" href="css/cadastro.css">
</head>
<body>
    <div class="interface">
        <button class="botao1"><a href="/">Login</a></button>
        <button class="botao2">Cadastro</button>
        <div class="flex">
               <form>
                <h2>TELA DE CADASTRO</h2> <br>
                <div class="login">
                    <input type="text" required>
                    <label>Nome</label>
                </div>
                <div class="login">
                    <input type="email" required>
                    <label>Gmail</label>
                </div>
                <div class="login">
                    <input type="password" required>
                    <i class="bi bi-eye-fill"></i>
                    <label>Senha</label>
                </div>
                <div class="login">
                    <input type="password" required>
                    <label>Confirme sua Senha</label>
                </div>
               
                <button type="submit" class="botao">Entra</button>
               </form>
        </div>
    </div>
</body>
</html>