<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Login</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="interface">
        <button class="botao1">Login</button>
        <button class="botao2"><a href="/cadastro">Cadastro</a></button>
        <div class="flex">
               <form>
                <h2>TELA DE LOGIN</h2> <br>
                <div class="login">
                    <input type="text" required>
                    <label>Login</label>
                </div>
                <div class="login">
                    <input type="password" required>
                    <label>Senha</label>
                </div>
                <button type="submit" class="botao">Entra</button>
               </form>
        </div>
    </div>
</body>
</html>